PORT=5000
MONGO_URI=mongodb+srv://samarthsutar2311_db_user:Samarth.123@cluster0.xaol9zl.mongodb.net/ai_ops_command_center?retryWrites=true&w=majority
JWT_SECRET=enterprise-jwt-secret-key-2026-antigravity
AI_SERVICE_URL=http://localhost:8000
AI_SERVICE_SECRET=dev-secret-key-change-in-prod-ai-ops-2026
CLIENT_URL=http://localhost:5173
